<!--<ion-view view-title="New Project">-->
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-icon ion-android-add" ng-click="getImages()">-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->
    <!--<ion-content>-->
        <!--<div class="row responsive-sm">-->
            <!--<div class="col" ng-repeat="image in pickedImages" style="border: 1px solid black;">-->
                <!--<img style="width:100%;" ng-src="{{image}}" on-hold="onHold($index)"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div style="width:100%;height:400px">&ndash;&gt;-->
            <!--&lt;!&ndash;<img ng-repeat="image in pickedImages" ng-src="{{image}}" on-hold="onHold($index)"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</ion-content>-->
<!--</ion-view>-->
<ion-view view-title="Select Layout">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="layout in layouts" href="#/app/layout/{{layout.id}}">
                {{layout.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
