/* Empty. Add your own CSS if you like */

.middle-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic-layout{
    display: block;
    white-space: nowrap;
    clear: both;
}

.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

